.about {
    width: clamp(300px, 100%, var(--body-width));

    

    padding-top: 0;
}

.about__container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    margin: auto;
    width: 80%;
}

.about__content {

}

.about__text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: .75rem;
}

.about__hook {
    translate: 0 -175px;
}

.about__image {
    position: relative;

    width: fit-content;
    height: fit-content;

    overflow: hidden;

    /* scale: 1.15; */

}

.about__image-img {
    width: 600px;
}

.about__image-background {
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    translate: 8px 4px;

    z-index: -1;
}

@media screen and ((max-width: 924px)) {
    
    .about {
        padding-top: var(--section-padding-top-bottom-mobile);
    }

    .about__image {
        display: none;
    }

    .about__container {
        width: 100%;
    }

}