.home {
    height: 100vh;
    position: relative;
    padding-top: 8rem;
    padding-bottom: 8rem;

    overflow: hidden;
}

.home__content {
    
    height: 100%;
    width: 100%;

    padding-top: 2rem;

    display: flex;
    flex-direction: column;

    justify-content: space-between;
    align-items: stretch;
    
}

.home__header-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}
 

.home__offer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}

.home__offer-item {
    display: flex;
    flex-direction: column-reverse;

    justify-content: center;
    align-items: center;

    gap: 1rem;

    padding: 1rem 2rem;
    border-radius: 1rem;

    cursor: pointer;

    transition: scale .3s ease;

}

.home__offer-item:hover {
    scale: 1.05;
}

.home__offer-item-header {
    /* font-weight: 500; */
    /* color: var(--accent-color); */
}

.home__offer-item-image {
    height: 86px;
    aspect-ratio: 1/1;
}


.home__contact {
    display: flex;
    justify-content: flex-end;
}

.home__contact-header {
    display: flex;
    flex-direction: row;
    gap: 0.5rem;

    cursor: pointer;
    
    border-bottom: 2px solid transparent;

    transition: border-color 0.3s ease;
}

.home__contact-header:hover {
    border-color: var(--accent-color);
}