.info {

    background-color: var(--text-color);
    color: var(--background-color);

    height: 90vh;
    width: 100%;

    padding: 6rem 2rem;
    
}

.info__content {
    
    width: clamp(300px, 100%, var(--body-width));
    height: 100%;

    padding: 1rem 2rem;
    margin: auto;

    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-column-gap: 2rem;
    grid-row-gap: 3rem;

}

.info__hours {
    grid-area: 1 / 1 / 2 / 3;
}

.info__contact {
    grid-area: 2 / 1 / 3 / 3;
}

.info__adress {
    grid-area: 3 / 1 / 4 / 3;
}

.info__list {
    display: flex;
    flex-direction: row;
    gap: 3rem;
}

.info__item {
    padding: 0.5rem 0;
    color: var(--accent-color);
}

.info__header {
    /* color: var(--text-color); */
}

.info__item-label {
    font-weight: 700;
    color: var(--background-color);
}

.info__map {
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    align-items: flex-end;

    grid-area: 1 / 3 / 6 / 6;

    gap: 1rem;
}

.info__map-iframe {
    /* border: 2px solid var(--accent-color); */
    border-radius: var(--border-radius);

    width: 100%;
    height: 100%;
}

.info__parking { 
    grid-area: 5 / 1 / 6 / 3;

    display: flex;
    gap: 1rem;
    align-items: flex-end;
    justify-content: flex-start;
    
}

.info__parking-icon {
    width: 24px;
    height: 24px;
}

@media screen and (max-width: 924px) {
    
    .info {
        padding: 0;
    }

    .info__content {
        display: flex;
        flex-direction: column;

        gap: 2rem;
    }

    .info {
        min-height: 100vh;
        padding-bottom: 5rem;
    }
    
}