.services {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.services__header {
    margin-bottom: 2rem;
}

.services__cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    gap: 2rem;
    justify-content: center;

    padding-bottom: 45px;

    width: 100%;
    max-width: calc(100vw - 3rem);
}


.services__card {

    position: relative;

    background-color: #fff;
    border-radius: var(--border-radius);
    box-shadow: var(--box-shadow);
    
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    
    z-index: 100;
}

.services__card:hover {
    transform: translateY(-10px);
    box-shadow: var(--box-shadow);
}

.services__card-image {
    width: 100%;
    height: 200px;
    object-fit: cover;

    border-radius: 12px 12px 0 0;
    /* display: none; */
}

.services__card-content {
    padding: 1rem 2rem;
}

.services__card-header {
    margin-bottom: 10px;
}

.services__card-description {
    line-height: 1.6;
}

.services__card-button {

    width: 100%;
    padding: 4px 16px;
    margin-top: 1rem;

    background-color: var(--accent-color);
    color: #fff;

    border-radius: var(--border-radius);

    cursor: pointer;

    transition: background-color 0.3s ease;
}

.serices__card-extra-content {
    position: absolute;
    bottom: 0;
    left: 0;
    translate: 0 calc(100% - 20px);

    width: 100%;

    padding: calc(0.5rem + 20px) 2rem 0.5rem 2rem;

    border-radius: var(--border-radius);
    color: #fff;
    background-color: var(--accent-color);

    z-index: -100;
}

.serices__card-extra-content::after {
    content: "";

    position: absolute;
    top: -2px;
    left: 0;
    /* translate: 0 -50%; */

    background-color: #fff;

    width: 100%;
    height: 20px;

    border-bottom-right-radius: 12px;
    border-bottom-left-radius: 12px;
}

.service__hook {
    position: absolute;
    top: 0;
    left: 0;
    visibility: hidden;
    translate: 0 -150px;
}

@media screen and (max-width: 924px) {
    .services {
        align-items: flex-start;
    }
    
    .serices__card-extra-content {
        font-size: 1.25rem;
    }
}